# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build outputs
dist/
build/
dist-ssr/
build/Release

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache files
.cache/
.parcel-cache
.npm
.eslintcache
.stylelintcache
.node_repl_history

# Frameworks
.next
out
.nuxt
.vuepress/dist
.vuepress/.cache
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VSCode test versions
.vscode-test

# Output of npm pack
*.tgz

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
